.logo {
    width: 130px;
}

.leftSigninContainer {
    padding-left: 80px;
    padding-top: 15px;
}

.signinH2 {
    font-weight: 100;
    font-size: 60px;
    color: #B26F28;
}

.usernameLabe,
.designationLabel {
    color: grey;
    font-size: 10px;
}

.usernameText {
    width: 400px;
    margin-top: 5px;
}

#signinBtn {
    width: 400px;
    height: 50px;
    border-radius: 50px;
    margin-top: 25px;
}

.developerImg {
    width: 500px;
    height: 600px;
}
